Source: nmea-checker
Priority: optional
Maintainer: Russ Kubik <russkubik@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, libboost-program-options-dev
Standards-Version: 3.9.3
Section: non-free/embedded

Package: nmea-checker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NMEA sentence checker and validator
 Validate NMEA data streams to ensure the data is not
 corrupt

Package: nmea-checker-dbg
Section: debug
Architecture: any
Priority: extra
Depends: serial-proxy (= ${binary:Version}), ${misc:Depends}
Description: nmea-checker debug symbols
 Debugging symbols for nmea-checker
